<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gChance Belt Exam</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="inner1">
            <div class="col">
                <h1>Register:</h1>
                <form action="/rd/reg" method="post">
                    {% csrf_token %}
                    {% for message in messages %}
                        {% if 'first_name' in message.tags %}
                        <p class="{{message.tags}}">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name">
                    {% for message in messages %}
                        {% if 'last_name' in message.tags %}
                        <p class="{{message.tags}}">{{message}}</p>
                        {% endif %}
                    {% endfor %}                    
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name">
                    {% for message in messages %}
                        {% if 'email' in message.tags %}
                        <p class="{{message.tags}}">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                    <label for="email">Email:</label>
                    <input type="text" name="email">
                    {% for message in messages %}
                        {% if 'reg_pw' in message.tags %}
                        <p class="{{message.tags}}">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                    <label for="password">Password:</label>
                    <input type="password" name="password">
                    {% for message in messages %}
                        {% if 'confirm_pw' in message.tags %}
                        <p class="{{message.tags}}">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" name="confirm_password">
                    <input class="submit" type="submit" value="Register">
                </form>
            </div>
            <div class="col">
                <h1>Login</h1>
                <form action="/rd/login" method="post">
                    {% csrf_token %}
                    {% for message in messages %}
                        {% if 'login_em' in message.tags %}
                        <p class="{{message.tags}}">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                    <label for="email">Email:</label>
                    <input type="text" name="email">
                    {% for message in messages %}
                        {% if 'login_pw' in message.tags %}
                        <p class="{{message.tags}}">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                    <label for="password">Password:</label>
                    <input type="password" name="password">
                    <input class="submit" type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</body>
</html>