<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is so I don't forget how to do this">
    <title>gChance playGround</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        * {
            margin: 0px;
            padding: -5px;
        }
        h1 {
            margin-bottom: 20px;
        }
        .col {
            min-height: 200px;
            background-color: blue;
            background-color: {{bgColor}};
            margin: 5px 5px;
            max-width: 23%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Hello!</h1>
        <div class="row text-center">
            {% for i in range(num): %}
            <div class="col col-3"></div>
            {% endfor %}
        </div>
    </div>
</body>
</html>