body {
    background-color: burlywood;
}

/* body * {
    outline: 1px solid black;
} */

/* OUTER CONTAINER */
.container {
    width: 1200px;
    margin: auto;
    padding: 20px;
}

/* INNER CONTAINERS */
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid black;
}
    nav div {
        justify-self: right;
    }
        nav div a {
            padding: 0 10px;
        }

.inner1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inner1books p {
    padding-left: 20px;
}
    .inner1 form {
        display: grid;
        grid-template-columns: 150px .75fr;
        row-gap: 10px;
    }
        .inner1 form .submit {
            grid-column: 1/3;
            justify-self: center;
            margin: 10px 0;
            box-shadow: 1px 1px 1px black;
        }
        .inner1 form .error {
            grid-column: 1/3;
            color: red;
        }

/* /BOOKS/ADD */
.booksAdd-inner {
    display: grid;
    grid-template-columns: 150px .5fr;
    margin-top: 20px;
}
    .booksAdd-inner .authlabel {
        grid-column: 1/3;
        font-weight: bold;
    }
    .booksAdd-inner .authsublabel {
        padding-left: 10px;
    }
    .booksAdd-inner .submit {
        grid-column: 1/3;
        justify-self: right;
        box-shadow: 1px 1px 1px black;
    }
    .booksAdd-inner * {
        margin: 5px 0;
    }

/* BOOKS_INFO */
.inner1books-info form {
    display: grid;
    grid-template-columns: 1fr;
}
    .inner1books-info form textarea {
        width: 75%;
        min-height: 100px;
    }
    .inner1books-info .b_i-submit, .inner1books-info select {
        justify-self: left;
    }